div{
    background-color: brown;
    color: rgb(50, 234, 60);
}
select{
    color: rgb(195, 14, 140);
}
p{
    color: yellow;
    background-color: blue;
}
button{
    color: rgb(234, 106, 8);
    background-color: rgb(242, 219, 15);
}

    form{
        color: blueviolet;
    }